USE [PhotocopyManagementDB]
GO
ALTER TABLE [dbo].[Widgets] DROP CONSTRAINT [FK_Widgets_Modules]
GO
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [FK__UserSubje__UserI__71D1E811]
GO
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [FK__UserSubje__Subje__72C60C4A]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK__Users__Departmen__6D0D32F4]
GO
ALTER TABLE [dbo].[UserPermissionOverrides] DROP CONSTRAINT [FK_UserPermissionOverrides_Users]
GO
ALTER TABLE [dbo].[UserPermissionOverrides] DROP CONSTRAINT [FK_UserPermissionOverrides_Permissions]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [FK_SubjectPrintLimits_Subjects]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [FK_SubjectPrintLimits_HOD]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [FK_SubjectPrintLimits_Departments]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [FK_SubjectPrintLimits_DepartmentLimits]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [FK_SubjectPrintLimits_CreatedBy]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [FK_Roles_AccessLevels]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RequestAttachments] DROP CONSTRAINT [FK__RequestAt__Reque__02FC7413]
GO
ALTER TABLE [dbo].[RequestApprovals] DROP CONSTRAINT [FK__RequestAp__Reque__06CD04F7]
GO
ALTER TABLE [dbo].[RequestApprovals] DROP CONSTRAINT [FK__RequestAp__Appro__07C12930]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [FK__PrintingL__Reque__0D7A0286]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [FK__PrintingL__Print__0E6E26BF]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Teach__7A672E12]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Subje__7C4F7684]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Purpo__7D439ABD]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Depar__7B5B524B]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [FK__Photocopy__Curre__7E37BEF6]
GO
ALTER TABLE [dbo].[Permissions] DROP CONSTRAINT [FK_Permissions_PermissionGroups]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [FK__Notificat__UserI__1EA48E88]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [FK_Menus_Parent]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [FK_Menus_Modules]
GO
ALTER TABLE [dbo].[MenuPermissions] DROP CONSTRAINT [FK_MenuPermissions_Permissions]
GO
ALTER TABLE [dbo].[MenuPermissions] DROP CONSTRAINT [FK_MenuPermissions_Menus]
GO
ALTER TABLE [dbo].[InventoryTransactions] DROP CONSTRAINT [FK_InventoryTransactions_CreatedBy]
GO
ALTER TABLE [dbo].[DepartmentPrintLimits] DROP CONSTRAINT [FK_DepartmentPrintLimits_Departments]
GO
ALTER TABLE [dbo].[DepartmentPrintLimits] DROP CONSTRAINT [FK_DepartmentPrintLimits_CreatedBy]
GO
ALTER TABLE [dbo].[Buttons] DROP CONSTRAINT [FK_Buttons_Modules]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [FK__AuditLogs__UserI__22751F6C]
GO
ALTER TABLE [dbo].[Widgets] DROP CONSTRAINT [DF__Widgets__Created__7814D14C]
GO
ALTER TABLE [dbo].[Widgets] DROP CONSTRAINT [DF__Widgets__SortOrd__7720AD13]
GO
ALTER TABLE [dbo].[Widgets] DROP CONSTRAINT [DF__Widgets__IsActiv__762C88DA]
GO
ALTER TABLE [dbo].[Widgets] DROP CONSTRAINT [DF__Widgets__IsVisib__753864A1]
GO
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [DF__UserSubje__IsAct__70DDC3D8]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__CreatedAt__6C190EBB]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__IsActive__6B24EA82]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF__Users__MustChang__6A30C649]
GO
ALTER TABLE [dbo].[UserPermissionOverrides] DROP CONSTRAINT [DF__UserPermi__Creat__53D770D6]
GO
ALTER TABLE [dbo].[SystemSettings] DROP CONSTRAINT [DF__SystemSet__Updat__02925FBF]
GO
ALTER TABLE [dbo].[SystemSettings] DROP CONSTRAINT [DF__SystemSet__IsEdi__019E3B86]
GO
ALTER TABLE [dbo].[Subjects] DROP CONSTRAINT [DF__Subjects__IsActi__619B8048]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [DF__SubjectPr__Creat__2FCF1A8A]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__CreatedAt__10216507]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsActive__0F2D40CE]
GO
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [DF__Roles__IsSystemR__0E391C95]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__Creat__4E1E9780]
GO
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [DF__RolePermi__IsAll__4D2A7347]
GO
ALTER TABLE [dbo].[RequestAttachments] DROP CONSTRAINT [DF__RequestAt__Uploa__02084FDA]
GO
ALTER TABLE [dbo].[RequestAttachments] DROP CONSTRAINT [DF__RequestAt__Copie__01142BA1]
GO
ALTER TABLE [dbo].[RequestApprovals] DROP CONSTRAINT [DF__RequestAp__Actio__05D8E0BE]
GO
ALTER TABLE [dbo].[Purposes] DROP CONSTRAINT [DF__Purposes__IsActi__656C112C]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [DF__PrintingL__Print__0C85DE4D]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [DF__PrintingL__Print__0B91BA14]
GO
ALTER TABLE [dbo].[PrintingLogs] DROP CONSTRAINT [DF__PrintingL__Print__0A9D95DB]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__IsExa__797309D9]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__Submi__787EE5A0]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__Statu__778AC167]
GO
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [DF__Photocopy__Prior__76969D2E]
GO
ALTER TABLE [dbo].[Permissions] DROP CONSTRAINT [DF__Permissio__Creat__4865BE2A]
GO
ALTER TABLE [dbo].[Permissions] DROP CONSTRAINT [DF__Permissio__IsAct__477199F1]
GO
ALTER TABLE [dbo].[PermissionGroups] DROP CONSTRAINT [DF__Permissio__Creat__43A1090D]
GO
ALTER TABLE [dbo].[PermissionGroups] DROP CONSTRAINT [DF__Permissio__SortO__42ACE4D4]
GO
ALTER TABLE [dbo].[PaperPurchases] DROP CONSTRAINT [DF__PaperPurc__Creat__4F47C5E3]
GO
ALTER TABLE [dbo].[PaperInventory] DROP CONSTRAINT [DF__PaperInve__LastU__3C34F16F]
GO
ALTER TABLE [dbo].[PaperDistributions] DROP CONSTRAINT [DF__PaperDist__Creat__625A9A57]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__Creat__1DB06A4F]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [DF__Notificat__IsRea__1CBC4616]
GO
ALTER TABLE [dbo].[Modules] DROP CONSTRAINT [DF__Modules__Created__5C6CB6D7]
GO
ALTER TABLE [dbo].[Modules] DROP CONSTRAINT [DF__Modules__SortOrd__5B78929E]
GO
ALTER TABLE [dbo].[Modules] DROP CONSTRAINT [DF__Modules__IsActiv__5A846E65]
GO
ALTER TABLE [dbo].[Modules] DROP CONSTRAINT [DF__Modules__Status__59904A2C]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__CreatedAt__6319B466]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__SortOrder__6225902D]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__IsActive__61316BF4]
GO
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [DF__Menus__IsVisible__603D47BB]
GO
ALTER TABLE [dbo].[MenuPermissions] DROP CONSTRAINT [DF__MenuPermi__Creat__68D28DBC]
GO
ALTER TABLE [dbo].[InventoryTransactions] DROP CONSTRAINT [DF__Inventory__Creat__756D6ECB]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__Creat__14270015]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__IsAct__1332DBDC]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__Minim__123EB7A3]
GO
ALTER TABLE [dbo].[InventoryItems] DROP CONSTRAINT [DF__Inventory__Curre__114A936A]
GO
ALTER TABLE [dbo].[FeatureFlags] DROP CONSTRAINT [DF__FeatureFl__Creat__7DCDAAA2]
GO
ALTER TABLE [dbo].[FeatureFlags] DROP CONSTRAINT [DF__FeatureFl__IsEna__7CD98669]
GO
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [DF__Departmen__IsAct__5DCAEF64]
GO
ALTER TABLE [dbo].[DepartmentPrintLimits] DROP CONSTRAINT [DF__Departmen__Creat__2A164134]
GO
ALTER TABLE [dbo].[Buttons] DROP CONSTRAINT [DF__Buttons__Created__7073AF84]
GO
ALTER TABLE [dbo].[Buttons] DROP CONSTRAINT [DF__Buttons__IsActiv__6F7F8B4B]
GO
ALTER TABLE [dbo].[Buttons] DROP CONSTRAINT [DF__Buttons__IsVisib__6E8B6712]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [DF__AuditLogs__Creat__2180FB33]
GO
ALTER TABLE [dbo].[AccessLevels] DROP CONSTRAINT [DF_AccessLevels_IsSystemRole]
GO
ALTER TABLE [dbo].[AccessLevels] DROP CONSTRAINT [DF_AccessLevels_SortOrder]
GO
ALTER TABLE [dbo].[AccessLevels] DROP CONSTRAINT [DF__AccessLev__Creat__0A688BB1]
GO
ALTER TABLE [dbo].[AccessLevels] DROP CONSTRAINT [DF__AccessLev__IsAct__09746778]
GO
/****** Object:  Index [UQ__Widgets__78D4AA9F51428DE4]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Widgets] DROP CONSTRAINT [UQ__Widgets__78D4AA9F51428DE4]
GO
/****** Object:  Index [UQ_User_Subject]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[UserSubjects] DROP CONSTRAINT [UQ_User_Subject]
GO
/****** Object:  Index [UQ__Users__F4D00BA206F1D027]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__F4D00BA206F1D027]
GO
/****** Object:  Index [UQ__Users__7AD04F10C5AA3C0B]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__7AD04F10C5AA3C0B]
GO
/****** Object:  Index [UQ_UserPermissionOverrides]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[UserPermissionOverrides] DROP CONSTRAINT [UQ_UserPermissionOverrides]
GO
/****** Object:  Index [UQ__SystemSe__01E719AD9DAF4CCD]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[SystemSettings] DROP CONSTRAINT [UQ__SystemSe__01E719AD9DAF4CCD]
GO
/****** Object:  Index [UQ__Subjects__4C5A7D55BA448724]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Subjects] DROP CONSTRAINT [UQ__Subjects__4C5A7D55BA448724]
GO
/****** Object:  Index [UQ_SubjectPrintLimits]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[SubjectPrintLimits] DROP CONSTRAINT [UQ_SubjectPrintLimits]
GO
/****** Object:  Index [UQ_Roles_RoleKey]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ_Roles_RoleKey]
GO
/****** Object:  Index [UQ__Roles__8A2B61603E7257DC]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [UQ__Roles__8A2B61603E7257DC]
GO
/****** Object:  Index [UQ_RolePermissions]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[RolePermissions] DROP CONSTRAINT [UQ_RolePermissions]
GO
/****** Object:  Index [UQ__Purposes__C44E9BC357DC188A]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Purposes] DROP CONSTRAINT [UQ__Purposes__C44E9BC357DC188A]
GO
/****** Object:  Index [UQ__Photocop__9ADA6BE01E953DFC]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[PhotocopyRequests] DROP CONSTRAINT [UQ__Photocop__9ADA6BE01E953DFC]
GO
/****** Object:  Index [UQ__Permissi__8884ABD4F2ADD309]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Permissions] DROP CONSTRAINT [UQ__Permissi__8884ABD4F2ADD309]
GO
/****** Object:  Index [UQ__Permissi__36BB80D25C86C1E5]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[PermissionGroups] DROP CONSTRAINT [UQ__Permissi__36BB80D25C86C1E5]
GO
/****** Object:  Index [UQ__Modules__37DD71914DAE1B45]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Modules] DROP CONSTRAINT [UQ__Modules__37DD71914DAE1B45]
GO
/****** Object:  Index [UQ__Menus__94C532E14D51BB7D]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [UQ__Menus__94C532E14D51BB7D]
GO
/****** Object:  Index [UQ_MenuPermissions]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[MenuPermissions] DROP CONSTRAINT [UQ_MenuPermissions]
GO
/****** Object:  Index [UQ__FeatureF__FCEFA330EE82B18B]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[FeatureFlags] DROP CONSTRAINT [UQ__FeatureF__FCEFA330EE82B18B]
GO
/****** Object:  Index [UQ__Departme__D949CC343D4B11DD]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [UQ__Departme__D949CC343D4B11DD]
GO
/****** Object:  Index [UQ_DepartmentPrintLimits]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[DepartmentPrintLimits] DROP CONSTRAINT [UQ_DepartmentPrintLimits]
GO
/****** Object:  Index [UQ__Buttons__8A94115AB8F27CCC]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[Buttons] DROP CONSTRAINT [UQ__Buttons__8A94115AB8F27CCC]
GO
/****** Object:  Index [UQ__AccessLe__0003F6C2AF38E030]    Script Date: 25/06/2026 1:37:38 AM ******/
ALTER TABLE [dbo].[AccessLevels] DROP CONSTRAINT [UQ__AccessLe__0003F6C2AF38E030]
GO
/****** Object:  Table [dbo].[Widgets]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Widgets]') AND type in (N'U'))
DROP TABLE [dbo].[Widgets]
GO
/****** Object:  Table [dbo].[UserSubjects]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSubjects]') AND type in (N'U'))
DROP TABLE [dbo].[UserSubjects]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserPermissionOverrides]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserPermissionOverrides]') AND type in (N'U'))
DROP TABLE [dbo].[UserPermissionOverrides]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SystemSettings]') AND type in (N'U'))
DROP TABLE [dbo].[SystemSettings]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subjects]') AND type in (N'U'))
DROP TABLE [dbo].[Subjects]
GO
/****** Object:  Table [dbo].[SubjectPrintLimits]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubjectPrintLimits]') AND type in (N'U'))
DROP TABLE [dbo].[SubjectPrintLimits]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RolePermissions]') AND type in (N'U'))
DROP TABLE [dbo].[RolePermissions]
GO
/****** Object:  Table [dbo].[RequestAttachments]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequestAttachments]') AND type in (N'U'))
DROP TABLE [dbo].[RequestAttachments]
GO
/****** Object:  Table [dbo].[RequestApprovals]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequestApprovals]') AND type in (N'U'))
DROP TABLE [dbo].[RequestApprovals]
GO
/****** Object:  Table [dbo].[Purposes]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Purposes]') AND type in (N'U'))
DROP TABLE [dbo].[Purposes]
GO
/****** Object:  Table [dbo].[PrintingLogs]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PrintingLogs]') AND type in (N'U'))
DROP TABLE [dbo].[PrintingLogs]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permissions]') AND type in (N'U'))
DROP TABLE [dbo].[Permissions]
GO
/****** Object:  Table [dbo].[PermissionGroups]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PermissionGroups]') AND type in (N'U'))
DROP TABLE [dbo].[PermissionGroups]
GO
/****** Object:  Table [dbo].[PaperPurchases]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaperPurchases]') AND type in (N'U'))
DROP TABLE [dbo].[PaperPurchases]
GO
/****** Object:  Table [dbo].[PaperInventory]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaperInventory]') AND type in (N'U'))
DROP TABLE [dbo].[PaperInventory]
GO
/****** Object:  Table [dbo].[PaperDistributions]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaperDistributions]') AND type in (N'U'))
DROP TABLE [dbo].[PaperDistributions]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
DROP TABLE [dbo].[Notifications]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modules]') AND type in (N'U'))
DROP TABLE [dbo].[Modules]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND type in (N'U'))
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[MenuPermissions]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MenuPermissions]') AND type in (N'U'))
DROP TABLE [dbo].[MenuPermissions]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryTransactions]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryItems]') AND type in (N'U'))
DROP TABLE [dbo].[InventoryItems]
GO
/****** Object:  Table [dbo].[FeatureFlags]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeatureFlags]') AND type in (N'U'))
DROP TABLE [dbo].[FeatureFlags]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[DepartmentPrintLimits]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DepartmentPrintLimits]') AND type in (N'U'))
DROP TABLE [dbo].[DepartmentPrintLimits]
GO
/****** Object:  Table [dbo].[Buttons]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Buttons]') AND type in (N'U'))
DROP TABLE [dbo].[Buttons]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AuditLogs]
GO
/****** Object:  Table [dbo].[AccessLevels]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AccessLevels]') AND type in (N'U'))
DROP TABLE [dbo].[AccessLevels]
GO
/****** Object:  View [dbo].[vw_SubjectMonthlyUsage]    Script Date: 25/06/2026 1:37:38 AM ******/
DROP VIEW [dbo].[vw_SubjectMonthlyUsage]
GO
/****** Object:  View [dbo].[vw_DepartmentMonthlyUsage]    Script Date: 25/06/2026 1:37:38 AM ******/
DROP VIEW [dbo].[vw_DepartmentMonthlyUsage]
GO
/****** Object:  Table [dbo].[PhotocopyRequests]    Script Date: 25/06/2026 1:37:38 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhotocopyRequests]') AND type in (N'U'))
DROP TABLE [dbo].[PhotocopyRequests]
GO
USE [master]
GO
/****** Object:  Database [PhotocopyManagementDB]    Script Date: 25/06/2026 1:37:38 AM ******/
DROP DATABASE [PhotocopyManagementDB]
GO
/****** Object:  Database [PhotocopyManagementDB]    Script Date: 25/06/2026 1:37:38 AM ******/
CREATE DATABASE [PhotocopyManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhotocopyManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\PhotocopyManagementDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhotocopyManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\PhotocopyManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhotocopyManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhotocopyManagementDB]
GO
/****** Object:  Table [dbo].[PhotocopyRequests]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotocopyRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestNumber] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TeacherId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[PurposeId] [int] NOT NULL,
	[Copies] [int] NOT NULL,
	[TotalPages] [int] NOT NULL,
	[TotalSheets] [int] NOT NULL,
	[PriorityLevel] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CurrentApproverId] [int] NULL,
	[SubmittedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
	[PrintedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
	[Remarks] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PaperSize] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrintType] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DueDate] [datetime] NULL,
	[PrintSide] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsExam] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DepartmentMonthlyUsage]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- Monthly department usage from requests
-- Counts sheets from approved / printing / completed requests
-- ============================================

CREATE VIEW [dbo].[vw_DepartmentMonthlyUsage] AS
SELECT
    DepartmentId,
    MONTH(SubmittedAt) AS MonthNumber,
    YEAR(SubmittedAt) AS YearNumber,
    SUM(TotalSheets) AS UsedSheets
FROM PhotocopyRequests
WHERE Status IN (
    'Approved by HOD',
    'Approved by HOS',
    'Printing',
    'Completed'
)
GROUP BY
    DepartmentId,
    MONTH(SubmittedAt),
    YEAR(SubmittedAt);
GO
/****** Object:  View [dbo].[vw_SubjectMonthlyUsage]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ============================================
-- Monthly subject usage from requests
-- Counts sheets from approved / printing / completed requests
-- ============================================

CREATE VIEW [dbo].[vw_SubjectMonthlyUsage] AS
SELECT
    DepartmentId,
    SubjectId,
    MONTH(SubmittedAt) AS MonthNumber,
    YEAR(SubmittedAt) AS YearNumber,
    SUM(TotalSheets) AS UsedSheets
FROM PhotocopyRequests
WHERE Status IN (
    'Approved by HOD',
    'Approved by HOS',
    'Printing',
    'Completed'
)
GROUP BY
    DepartmentId,
    SubjectId,
    MONTH(SubmittedAt),
    YEAR(SubmittedAt);
GO
/****** Object:  Table [dbo].[AccessLevels]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessLevels](
	[AccessLevelId] [int] IDENTITY(1,1) NOT NULL,
	[AccessLevelName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DisplayName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsSystemRole] [bit] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccessLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ActionType] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buttons]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buttons](
	[ButtonId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[ButtonKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ButtonName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[RequiredPermissionKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsVisible] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ButtonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentPrintLimits]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentPrintLimits](
	[DepartmentLimitId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[MonthNumber] [int] NOT NULL,
	[YearNumber] [int] NOT NULL,
	[SheetLimit] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentLimitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsActive] [bit] NULL,
	[DepartmentCode] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DepartmentType] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeatureFlags]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureFlags](
	[FeatureFlagId] [int] IDENTITY(1,1) NOT NULL,
	[FeatureKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FeatureName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureFlagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Category] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinimumStock] [int] NOT NULL,
	[Unit] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[PaperType] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TransactionType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Quantity] [int] NOT NULL,
	[PreviousStock] [int] NOT NULL,
	[NewStock] [int] NOT NULL,
	[ReferenceId] [int] NULL,
	[Remarks] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuPermissions]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuPermissions](
	[MenuPermissionId] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[ParentMenuId] [int] NULL,
	[MenuKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MenuName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Route] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Icon] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RequiredPermissionKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsVisible] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModuleName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Icon] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BaseRoute] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Message] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperDistributions]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperDistributions](
	[DistributionId] [int] IDENTITY(1,1) NOT NULL,
	[PaperType] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BundlesIssued] [int] NOT NULL,
	[IssuedTo] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IssuedDate] [date] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ReceivedByName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RequestedByUserId] [int] NULL,
	[DepartmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DistributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperInventory]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperInventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[PaperType] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CurrentStock] [int] NOT NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperPurchases]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperPurchases](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[PaperType] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[QuantityBoxes] [int] NOT NULL,
	[TotalBundles]  AS ([QuantityBoxes]*(5)) PERSISTED,
	[TotalSheets]  AS (([QuantityBoxes]*(5))*(500)) PERSISTED,
	[PurchaseDate] [date] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionGroups]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionGroups](
	[PermissionGroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[GroupName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PermissionName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ModuleKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PermissionGroupId] [int] NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintingLogs]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintingLogs](
	[PrintingLogId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[PrintedBy] [int] NOT NULL,
	[PrintedPages] [int] NOT NULL,
	[PrintedSheets] [int] NOT NULL,
	[Remarks] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrintedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrintingLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purposes]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purposes](
	[PurposeId] [int] IDENTITY(1,1) NOT NULL,
	[PurposeName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurposeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestApprovals]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestApprovals](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[ApproverId] [int] NOT NULL,
	[ApprovalRole] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ApprovalStatus] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Remarks] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestAttachments]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestAttachments](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StoredFileName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FilePath] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FileType] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FileSizeKB] [decimal](18, 2) NULL,
	[PageCount] [int] NULL,
	[Copies] [int] NOT NULL,
	[TotalSheets] [int] NULL,
	[UploadedAt] [datetime] NULL,
	[DocumentName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PaperSize] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrintType] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrintColor] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PagesPerSheet] [int] NULL,
	[PageSelection] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomPageRange] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SelectedPages] [int] NULL,
	[SheetsPerSet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[IsAllowed] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DisplayName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AccessLevelId] [int] NOT NULL,
	[IsSystemRole] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[RoleKey] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectPrintLimits]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectPrintLimits](
	[SubjectLimitId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentLimitId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[HodUserId] [int] NULL,
	[MonthNumber] [int] NOT NULL,
	[YearNumber] [int] NOT NULL,
	[SheetLimit] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectLimitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SettingValue] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SettingGroup] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsEditable] [bit] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPermissionOverrides]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissionOverrides](
	[UserPermissionOverrideId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[IsAllowed] [bit] NOT NULL,
	[Reason] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserPermissionOverrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FullName] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SchoolEmail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DepartmentId] [int] NULL,
	[Subject] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Role] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PasswordHash] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[MustChangePassword] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubjects]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubjects](
	[UserSubjectId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserSubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Widgets]    Script Date: 25/06/2026 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Widgets](
	[WidgetId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NULL,
	[WidgetKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[WidgetName] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RequiredPermissionKey] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsVisible] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WidgetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccessLevels] ON 

INSERT [dbo].[AccessLevels] ([AccessLevelId], [AccessLevelName], [DisplayName], [Description], [IsActive], [CreatedAt], [SortOrder], [IsSystemRole], [UpdatedAt]) VALUES (1, N'TeacherLevel', N'Teacher Level', N'Can create and submit requests', 1, CAST(N'2026-06-23T22:13:30.920' AS DateTime), 1, 1, CAST(N'2026-06-24T00:55:23.333' AS DateTime))
INSERT [dbo].[AccessLevels] ([AccessLevelId], [AccessLevelName], [DisplayName], [Description], [IsActive], [CreatedAt], [SortOrder], [IsSystemRole], [UpdatedAt]) VALUES (2, N'HODLevel', N'HOD Level', N'Can approve department requests', 1, CAST(N'2026-06-23T22:13:30.920' AS DateTime), 2, 1, CAST(N'2026-06-24T00:55:23.333' AS DateTime))
INSERT [dbo].[AccessLevels] ([AccessLevelId], [AccessLevelName], [DisplayName], [Description], [IsActive], [CreatedAt], [SortOrder], [IsSystemRole], [UpdatedAt]) VALUES (3, N'HOSLevel', N'HOS Level', N'Can approve section requests', 1, CAST(N'2026-06-23T22:13:30.920' AS DateTime), 3, 1, CAST(N'2026-06-24T00:55:23.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[AccessLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[Buttons] ON 

INSERT [dbo].[Buttons] ([ButtonId], [ModuleId], [ButtonKey], [ButtonName], [RequiredPermissionKey], [IsVisible], [IsActive], [CreatedAt]) VALUES (1, 2, N'user_add', N'Add User', N'User.Create', 1, 1, CAST(N'2026-06-24T07:28:56.700' AS DateTime))
INSERT [dbo].[Buttons] ([ButtonId], [ModuleId], [ButtonKey], [ButtonName], [RequiredPermissionKey], [IsVisible], [IsActive], [CreatedAt]) VALUES (2, 2, N'user_edit', N'Edit User', N'User.Edit', 1, 1, CAST(N'2026-06-24T07:28:56.703' AS DateTime))
INSERT [dbo].[Buttons] ([ButtonId], [ModuleId], [ButtonKey], [ButtonName], [RequiredPermissionKey], [IsVisible], [IsActive], [CreatedAt]) VALUES (3, 2, N'user_delete', N'Delete User', N'User.Delete', 1, 1, CAST(N'2026-06-24T07:28:56.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[Buttons] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive], [DepartmentCode], [DepartmentType]) VALUES (1, N'FS', 1, NULL, NULL)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive], [DepartmentCode], [DepartmentType]) VALUES (2, N'Primary', 1, NULL, NULL)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [IsActive], [DepartmentCode], [DepartmentType]) VALUES (3, N'Secondary', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[FeatureFlags] ON 

INSERT [dbo].[FeatureFlags] ([FeatureFlagId], [FeatureKey], [FeatureName], [Description], [IsEnabled], [CreatedAt]) VALUES (1, N'enable_printing_management', N'Enable Printing Management', N'Enable photocopy request and printing workflow module', 1, CAST(N'2026-06-24T07:28:56.320' AS DateTime))
INSERT [dbo].[FeatureFlags] ([FeatureFlagId], [FeatureKey], [FeatureName], [Description], [IsEnabled], [CreatedAt]) VALUES (2, N'enable_inventory_management', N'Enable Inventory Management', N'Enable paper inventory, purchases and transactions', 1, CAST(N'2026-06-24T07:28:56.320' AS DateTime))
INSERT [dbo].[FeatureFlags] ([FeatureFlagId], [FeatureKey], [FeatureName], [Description], [IsEnabled], [CreatedAt]) VALUES (3, N'enable_it_service_desk', N'Enable IT Service Desk', N'Enable IT tickets and support desk module', 1, CAST(N'2026-06-24T07:28:56.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[FeatureFlags] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItems] ON 

INSERT [dbo].[InventoryItems] ([ItemId], [ItemName], [Category], [CurrentStock], [MinimumStock], [Unit], [IsActive], [CreatedAt]) VALUES (1, N'A4 Paper', N'Paper', 70, 10, N'Box', 1, CAST(N'2026-06-09T16:29:30.907' AS DateTime))
INSERT [dbo].[InventoryItems] ([ItemId], [ItemName], [Category], [CurrentStock], [MinimumStock], [Unit], [IsActive], [CreatedAt]) VALUES (2, N'A3 Paper', N'Paper', 10, 5, N'Box', 1, CAST(N'2026-06-09T16:29:30.907' AS DateTime))
INSERT [dbo].[InventoryItems] ([ItemId], [ItemName], [Category], [CurrentStock], [MinimumStock], [Unit], [IsActive], [CreatedAt]) VALUES (3, N'Black Toner', N'Toner', 5, 2, N'Piece', 1, CAST(N'2026-06-09T16:29:30.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[InventoryItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuId], [ModuleId], [ParentMenuId], [MenuKey], [MenuName], [Route], [Icon], [RequiredPermissionKey], [IsVisible], [IsActive], [SortOrder], [CreatedAt]) VALUES (1, 1, NULL, N'dashboard', N'Dashboard', N'/super-admin/dashboard', N'dashboard', NULL, 1, 1, 1, CAST(N'2026-06-24T07:28:55.807' AS DateTime))
INSERT [dbo].[Menus] ([MenuId], [ModuleId], [ParentMenuId], [MenuKey], [MenuName], [Route], [Icon], [RequiredPermissionKey], [IsVisible], [IsActive], [SortOrder], [CreatedAt]) VALUES (2, 2, NULL, N'user_access', N'User & Access', NULL, N'manage_accounts', NULL, 1, 1, 2, CAST(N'2026-06-24T07:28:55.810' AS DateTime))
INSERT [dbo].[Menus] ([MenuId], [ModuleId], [ParentMenuId], [MenuKey], [MenuName], [Route], [Icon], [RequiredPermissionKey], [IsVisible], [IsActive], [SortOrder], [CreatedAt]) VALUES (3, 3, NULL, N'operations', N'Operations', NULL, N'business_center', NULL, 1, 1, 3, CAST(N'2026-06-24T07:28:55.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([ModuleId], [ModuleKey], [ModuleName], [Description], [Icon], [BaseRoute], [Status], [IsActive], [SortOrder], [CreatedAt]) VALUES (1, N'super_admin', N'Super Admin Control Center', N'Main control center for modules, permissions, settings and system management', N'admin_panel_settings', N'/super-admin', N'Active', 1, 1, CAST(N'2026-06-24T07:28:54.683' AS DateTime))
INSERT [dbo].[Modules] ([ModuleId], [ModuleKey], [ModuleName], [Description], [Icon], [BaseRoute], [Status], [IsActive], [SortOrder], [CreatedAt]) VALUES (2, N'user_access', N'User & Access Management', N'Manage users, roles, permissions, access levels and overrides', N'manage_accounts', N'/super-admin/user-access', N'Active', 1, 2, CAST(N'2026-06-24T07:28:54.690' AS DateTime))
INSERT [dbo].[Modules] ([ModuleId], [ModuleKey], [ModuleName], [Description], [Icon], [BaseRoute], [Status], [IsActive], [SortOrder], [CreatedAt]) VALUES (3, N'printing', N'Printing Management', N'Manage photocopy requests, approvals, print queue and completed jobs', N'print', N'/printing', N'Active', 1, 3, CAST(N'2026-06-24T07:28:54.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[PaperInventory] ON 

INSERT [dbo].[PaperInventory] ([InventoryId], [PaperType], [CurrentStock], [LastUpdated]) VALUES (1, N'A4', 0, CAST(N'2026-06-22T02:21:24.230' AS DateTime))
INSERT [dbo].[PaperInventory] ([InventoryId], [PaperType], [CurrentStock], [LastUpdated]) VALUES (2, N'A3', 0, CAST(N'2026-06-22T02:21:24.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaperInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionGroups] ON 

INSERT [dbo].[PermissionGroups] ([PermissionGroupId], [GroupKey], [GroupName], [Description], [SortOrder], [CreatedAt]) VALUES (1, N'super_admin', N'Super Admin Control', N'Module, menu, button, widget and system control permissions', 1, CAST(N'2026-06-24T07:28:54.563' AS DateTime))
INSERT [dbo].[PermissionGroups] ([PermissionGroupId], [GroupKey], [GroupName], [Description], [SortOrder], [CreatedAt]) VALUES (2, N'user_access', N'User & Access', N'Users, roles, access levels and permission management', 2, CAST(N'2026-06-24T07:28:54.570' AS DateTime))
INSERT [dbo].[PermissionGroups] ([PermissionGroupId], [GroupKey], [GroupName], [Description], [SortOrder], [CreatedAt]) VALUES (3, N'printing', N'Printing Management', N'Photocopy request, approval, queue and report permissions', 3, CAST(N'2026-06-24T07:28:54.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[PermissionGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionId], [PermissionKey], [PermissionName], [ModuleKey], [PermissionGroupId], [Description], [IsActive], [CreatedAt]) VALUES (1, N'SuperAdmin.Dashboard.View', N'View Super Admin Dashboard', N'super_admin', 1, N'Can view Super Admin command center', 1, CAST(N'2026-06-24T07:28:55.610' AS DateTime))
INSERT [dbo].[Permissions] ([PermissionId], [PermissionKey], [PermissionName], [ModuleKey], [PermissionGroupId], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Module.View', N'View Modules', N'super_admin', 1, N'Can view registered modules', 1, CAST(N'2026-06-24T07:28:55.613' AS DateTime))
INSERT [dbo].[Permissions] ([PermissionId], [PermissionKey], [PermissionName], [ModuleKey], [PermissionGroupId], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Module.Create', N'Create Module', N'super_admin', 1, N'Can create modules', 1, CAST(N'2026-06-24T07:28:55.617' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Purposes] ON 

INSERT [dbo].[Purposes] ([PurposeId], [PurposeName], [IsActive]) VALUES (1, N'Classwork', 1)
INSERT [dbo].[Purposes] ([PurposeId], [PurposeName], [IsActive]) VALUES (2, N'Homework', 1)
INSERT [dbo].[Purposes] ([PurposeId], [PurposeName], [IsActive]) VALUES (3, N'Assessment', 1)
SET IDENTITY_INSERT [dbo].[Purposes] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [IsAllowed], [CreatedAt]) VALUES (1, 8, 1, 1, CAST(N'2026-06-24T07:31:48.527' AS DateTime))
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [IsAllowed], [CreatedAt]) VALUES (2, 8, 2, 1, CAST(N'2026-06-24T07:31:48.527' AS DateTime))
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [IsAllowed], [CreatedAt]) VALUES (3, 8, 3, 1, CAST(N'2026-06-24T07:31:48.527' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [DisplayName], [AccessLevelId], [IsSystemRole], [IsActive], [CreatedAt], [RoleKey], [Description]) VALUES (1, N'Teacher', N'Teacher', 1, 1, 1, CAST(N'2026-06-23T22:14:07.113' AS DateTime), N'Teacher', NULL)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [DisplayName], [AccessLevelId], [IsSystemRole], [IsActive], [CreatedAt], [RoleKey], [Description]) VALUES (2, N'TeachingAssistant', N'Teaching Assistant', 1, 1, 1, CAST(N'2026-06-23T22:14:07.113' AS DateTime), N'TeachingAssistant', NULL)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [DisplayName], [AccessLevelId], [IsSystemRole], [IsActive], [CreatedAt], [RoleKey], [Description]) VALUES (3, N'Head of Department', N'Head of Department', 2, 1, 1, CAST(N'2026-06-23T22:14:07.113' AS DateTime), N'HOD', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [IsActive]) VALUES (1, N'English', 1)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [IsActive]) VALUES (2, N'Math', 1)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [IsActive]) VALUES (3, N'Science', 1)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([SettingId], [SettingKey], [SettingValue], [SettingGroup], [Description], [IsEditable], [UpdatedAt]) VALUES (1, N'school_name', N'Arab Unity School', N'Branding', N'Official school name displayed across the platform', 1, CAST(N'2026-06-24T07:28:56.430' AS DateTime))
INSERT [dbo].[SystemSettings] ([SettingId], [SettingKey], [SettingValue], [SettingGroup], [Description], [IsEditable], [UpdatedAt]) VALUES (2, N'system_name', N'AUS Operations Platform', N'Branding', N'Official system name', 1, CAST(N'2026-06-24T07:28:56.430' AS DateTime))
INSERT [dbo].[SystemSettings] ([SettingId], [SettingKey], [SettingValue], [SettingGroup], [Description], [IsEditable], [UpdatedAt]) VALUES (3, N'school_logo_url', N'/assets/arab-unity-logo.png', N'Branding', N'School logo path or URL', 1, CAST(N'2026-06-24T07:28:56.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [EmployeeId], [FullName], [SchoolEmail], [DepartmentId], [Subject], [Role], [PasswordHash], [MustChangePassword], [IsActive], [CreatedAt]) VALUES (1, N'A0297', N'Fredelson', N'fredelson@arabunityschool.ae', 7, NULL, N'PrintingAdmin', N'$2b$10$4W1/aD1wTk4t7f4oVhoIjuCgFikn8nih2CivsdjquMlB4Pyx9qcRW', 1, 1, CAST(N'2026-06-22T02:35:22.337' AS DateTime))
INSERT [dbo].[Users] ([UserId], [EmployeeId], [FullName], [SchoolEmail], [DepartmentId], [Subject], [Role], [PasswordHash], [MustChangePassword], [IsActive], [CreatedAt]) VALUES (3, N'A0309', N'Rudy', N'itsupport@arabunityschool.ae', 2, NULL, N'Teacher', N'$2b$10$DUkbKoX7b.Gua8yiALzBseH91MbAtQMLOTPw3YiBmymFctMXAVsqe', 1, 1, CAST(N'2026-06-22T09:04:10.473' AS DateTime))
INSERT [dbo].[Users] ([UserId], [EmployeeId], [FullName], [SchoolEmail], [DepartmentId], [Subject], [Role], [PasswordHash], [MustChangePassword], [IsActive], [CreatedAt]) VALUES (4, N'A0003', N'CLINIC', N'AUSClinic@arabunityschool.ae', 7, NULL, N'Admin', N'$2b$10$4iM0jMKW5JMD6W.bkkYAOOquegW55E8JHFRVmAbQeap0V3v63x9DS', 1, 1, CAST(N'2026-06-23T21:56:59.387' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Widgets] ON 

INSERT [dbo].[Widgets] ([WidgetId], [ModuleId], [WidgetKey], [WidgetName], [Description], [RequiredPermissionKey], [IsVisible], [IsActive], [SortOrder], [CreatedAt]) VALUES (1, NULL, N'total_users', N'Total Users', N'Total active users in the platform', NULL, 1, 1, 1, CAST(N'2026-06-24T07:28:56.520' AS DateTime))
INSERT [dbo].[Widgets] ([WidgetId], [ModuleId], [WidgetKey], [WidgetName], [Description], [RequiredPermissionKey], [IsVisible], [IsActive], [SortOrder], [CreatedAt]) VALUES (2, NULL, N'active_users', N'Active Users', N'Users active today', NULL, 1, 1, 2, CAST(N'2026-06-24T07:28:56.520' AS DateTime))
INSERT [dbo].[Widgets] ([WidgetId], [ModuleId], [WidgetKey], [WidgetName], [Description], [RequiredPermissionKey], [IsVisible], [IsActive], [SortOrder], [CreatedAt]) VALUES (3, NULL, N'total_modules', N'Modules', N'Total registered modules', NULL, 1, 1, 3, CAST(N'2026-06-24T07:28:56.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[Widgets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AccessLe__0003F6C2AF38E030]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[AccessLevels] ADD UNIQUE NONCLUSTERED 
(
	[AccessLevelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buttons__8A94115AB8F27CCC]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Buttons] ADD UNIQUE NONCLUSTERED 
(
	[ButtonKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DepartmentPrintLimits]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[DepartmentPrintLimits] ADD  CONSTRAINT [UQ_DepartmentPrintLimits] UNIQUE NONCLUSTERED 
(
	[DepartmentId] ASC,
	[MonthNumber] ASC,
	[YearNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC343D4B11DD]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FeatureF__FCEFA330EE82B18B]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[FeatureFlags] ADD UNIQUE NONCLUSTERED 
(
	[FeatureKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MenuPermissions]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[MenuPermissions] ADD  CONSTRAINT [UQ_MenuPermissions] UNIQUE NONCLUSTERED 
(
	[MenuId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Menus__94C532E14D51BB7D]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Menus] ADD UNIQUE NONCLUSTERED 
(
	[MenuKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Modules__37DD71914DAE1B45]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Modules] ADD UNIQUE NONCLUSTERED 
(
	[ModuleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__36BB80D25C86C1E5]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[PermissionGroups] ADD UNIQUE NONCLUSTERED 
(
	[GroupKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__8884ABD4F2ADD309]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Photocop__9ADA6BE01E953DFC]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[PhotocopyRequests] ADD UNIQUE NONCLUSTERED 
(
	[RequestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Purposes__C44E9BC357DC188A]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Purposes] ADD UNIQUE NONCLUSTERED 
(
	[PurposeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePermissions]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [UQ_RolePermissions] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61603E7257DC]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_RoleKey]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_RoleKey] UNIQUE NONCLUSTERED 
(
	[RoleKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SubjectPrintLimits]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[SubjectPrintLimits] ADD  CONSTRAINT [UQ_SubjectPrintLimits] UNIQUE NONCLUSTERED 
(
	[DepartmentId] ASC,
	[SubjectId] ASC,
	[MonthNumber] ASC,
	[YearNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__4C5A7D55BA448724]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemSe__01E719AD9DAF4CCD]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[SystemSettings] ADD UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPermissionOverrides]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[UserPermissionOverrides] ADD  CONSTRAINT [UQ_UserPermissionOverrides] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__7AD04F10C5AA3C0B]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F4D00BA206F1D027]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[SchoolEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Subject]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[UserSubjects] ADD  CONSTRAINT [UQ_User_Subject] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Widgets__78D4AA9F51428DE4]    Script Date: 25/06/2026 1:37:39 AM ******/
ALTER TABLE [dbo].[Widgets] ADD UNIQUE NONCLUSTERED 
(
	[WidgetKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessLevels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccessLevels] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AccessLevels] ADD  CONSTRAINT [DF_AccessLevels_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[AccessLevels] ADD  CONSTRAINT [DF_AccessLevels_IsSystemRole]  DEFAULT ((0)) FOR [IsSystemRole]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Buttons] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Buttons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Buttons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DepartmentPrintLimits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FeatureFlags] ADD  DEFAULT ((0)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[FeatureFlags] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((0)) FOR [MinimumStock]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MenuPermissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Menus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaperDistributions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaperInventory] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[PaperPurchases] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PermissionGroups] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[PermissionGroups] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT ('Normal') FOR [PriorityLevel]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[PhotocopyRequests] ADD  DEFAULT ((0)) FOR [IsExam]
GO
ALTER TABLE [dbo].[PrintingLogs] ADD  DEFAULT ((0)) FOR [PrintedPages]
GO
ALTER TABLE [dbo].[PrintingLogs] ADD  DEFAULT ((0)) FOR [PrintedSheets]
GO
ALTER TABLE [dbo].[PrintingLogs] ADD  DEFAULT (getdate()) FOR [PrintedAt]
GO
ALTER TABLE [dbo].[Purposes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RequestApprovals] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[RequestAttachments] ADD  DEFAULT ((1)) FOR [Copies]
GO
ALTER TABLE [dbo].[RequestAttachments] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsAllowed]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsSystemRole]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubjectPrintLimits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((1)) FOR [IsEditable]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserPermissionOverrides] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSubjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Widgets] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[Widgets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Widgets] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Widgets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Buttons]  WITH CHECK ADD  CONSTRAINT [FK_Buttons_Modules] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([ModuleId])
GO
ALTER TABLE [dbo].[Buttons] CHECK CONSTRAINT [FK_Buttons_Modules]
GO
ALTER TABLE [dbo].[DepartmentPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentPrintLimits_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DepartmentPrintLimits] CHECK CONSTRAINT [FK_DepartmentPrintLimits_CreatedBy]
GO
ALTER TABLE [dbo].[DepartmentPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentPrintLimits_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[DepartmentPrintLimits] CHECK CONSTRAINT [FK_DepartmentPrintLimits_Departments]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_CreatedBy]
GO
ALTER TABLE [dbo].[MenuPermissions]  WITH CHECK ADD  CONSTRAINT [FK_MenuPermissions_Menus] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([MenuId])
GO
ALTER TABLE [dbo].[MenuPermissions] CHECK CONSTRAINT [FK_MenuPermissions_Menus]
GO
ALTER TABLE [dbo].[MenuPermissions]  WITH CHECK ADD  CONSTRAINT [FK_MenuPermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[MenuPermissions] CHECK CONSTRAINT [FK_MenuPermissions_Permissions]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Modules] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([ModuleId])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Modules]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_Parent] FOREIGN KEY([ParentMenuId])
REFERENCES [dbo].[Menus] ([MenuId])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_Parent]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_PermissionGroups] FOREIGN KEY([PermissionGroupId])
REFERENCES [dbo].[PermissionGroups] ([PermissionGroupId])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_Permissions_PermissionGroups]
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([CurrentApproverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([PurposeId])
REFERENCES [dbo].[Purposes] ([PurposeId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[PhotocopyRequests]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PrintingLogs]  WITH CHECK ADD FOREIGN KEY([PrintedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PrintingLogs]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RequestApprovals]  WITH CHECK ADD FOREIGN KEY([ApproverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RequestApprovals]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RequestAttachments]  WITH CHECK ADD FOREIGN KEY([RequestId])
REFERENCES [dbo].[PhotocopyRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_AccessLevels] FOREIGN KEY([AccessLevelId])
REFERENCES [dbo].[AccessLevels] ([AccessLevelId])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_AccessLevels]
GO
ALTER TABLE [dbo].[SubjectPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrintLimits_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SubjectPrintLimits] CHECK CONSTRAINT [FK_SubjectPrintLimits_CreatedBy]
GO
ALTER TABLE [dbo].[SubjectPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrintLimits_DepartmentLimits] FOREIGN KEY([DepartmentLimitId])
REFERENCES [dbo].[DepartmentPrintLimits] ([DepartmentLimitId])
GO
ALTER TABLE [dbo].[SubjectPrintLimits] CHECK CONSTRAINT [FK_SubjectPrintLimits_DepartmentLimits]
GO
ALTER TABLE [dbo].[SubjectPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrintLimits_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[SubjectPrintLimits] CHECK CONSTRAINT [FK_SubjectPrintLimits_Departments]
GO
ALTER TABLE [dbo].[SubjectPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrintLimits_HOD] FOREIGN KEY([HodUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SubjectPrintLimits] CHECK CONSTRAINT [FK_SubjectPrintLimits_HOD]
GO
ALTER TABLE [dbo].[SubjectPrintLimits]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrintLimits_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[SubjectPrintLimits] CHECK CONSTRAINT [FK_SubjectPrintLimits_Subjects]
GO
ALTER TABLE [dbo].[UserPermissionOverrides]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissionOverrides_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[UserPermissionOverrides] CHECK CONSTRAINT [FK_UserPermissionOverrides_Permissions]
GO
ALTER TABLE [dbo].[UserPermissionOverrides]  WITH CHECK ADD  CONSTRAINT [FK_UserPermissionOverrides_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserPermissionOverrides] CHECK CONSTRAINT [FK_UserPermissionOverrides_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[UserSubjects]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Widgets]  WITH CHECK ADD  CONSTRAINT [FK_Widgets_Modules] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([ModuleId])
GO
ALTER TABLE [dbo].[Widgets] CHECK CONSTRAINT [FK_Widgets_Modules]
GO
USE [master]
GO
