-- ============================================
-- ARAB UNITY SCHOOL
-- Real Users Seed Script
-- Creates SuperAdmin, PrintingAdmin, HOS, HODs, Teachers
-- Employee ID Format:
-- A001+ = Admin / HOS / Printing
-- T001+ = HOD / Teacher
-- ============================================

USE PhotocopyManagementDB;
GO

-- ============================================
-- Default Password Hash
-- Same hash used in previous working seed
-- ============================================

DECLARE @DefaultPasswordHash NVARCHAR(MAX);
SET @DefaultPasswordHash = N'$2b$10$fkfTy6u5eZfF3hEcnXPEtepLA6nn6MT2EyTdH3U6VSo/gTImtBQCa';

-- ============================================
-- Super Admin Users
-- DepartmentId 6 = IT
-- ============================================

INSERT INTO Users
(EmployeeId, FullName, SchoolEmail, DepartmentId, Subject, Role, PasswordHash, MustChangePassword, IsActive)
VALUES
('A001', 'System Super Admin', 'superadmin1@arabunityschool.ae', 6, 'General', 'SuperAdmin', @DefaultPasswordHash, 0, 1),
('A002', 'Assistant Super Admin', 'superadmin2@arabunityschool.ae', 6, 'General', 'SuperAdmin', @DefaultPasswordHash, 0, 1);

-- ============================================
-- Printing Admin Users
-- DepartmentId 7 = Administration
-- ============================================

INSERT INTO Users
(EmployeeId, FullName, SchoolEmail, DepartmentId, Subject, Role, PasswordHash, MustChangePassword, IsActive)
VALUES
('A101', 'Fatima Noor', 'printing1@arabunityschool.ae', 7, 'General', 'PrintingAdmin', @DefaultPasswordHash, 0, 1),
('A102', 'Ahmed Khan', 'printing2@arabunityschool.ae', 7, 'General', 'PrintingAdmin', @DefaultPasswordHash, 0, 1),
('A103', 'Mariam Ali', 'printing3@arabunityschool.ae', 7, 'General', 'PrintingAdmin', @DefaultPasswordHash, 0, 1);

-- ============================================
-- Head of School Users
-- 1 FS, 2 Primary, 3 Secondary, 4 Sixth Form, 5 Inclusion
-- ============================================


-- ============================================
-- HOD Users
-- One HOD per Subject per Department
-- T001 - T040
-- ============================================


-- ============================================
-- Teacher Users
-- T101 - T120
-- ============================================

GO

-- ============================================
-- Link HODs and Teachers to Subjects
-- ============================================

INSERT INTO UserSubjects (UserId, SubjectId, IsActive)
SELECT
    u.UserId,
    s.SubjectId,
    1
FROM Users u
INNER JOIN Subjects s
    ON u.Subject = s.SubjectName
WHERE u.Role IN ('HOD', 'Teacher')
  AND NOT EXISTS (
      SELECT 1
      FROM UserSubjects us
      WHERE us.UserId = u.UserId
        AND us.SubjectId = s.SubjectId
  );
GO

-- ============================================
-- Verify User Counts
-- ============================================

SELECT
    Role,
    COUNT(*) AS TotalUsers
FROM Users
GROUP BY Role
ORDER BY Role;
GO

-- ============================================
-- Verify Seeded Users
-- ============================================

SELECT
    UserId,
    EmployeeId,
    FullName,
    DepartmentId,
    Subject,
    Role,
    IsActive
FROM Users
ORDER BY
    Role,
    EmployeeId;
GO